[MAIN]
disable=
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    cyclic-import,                  # TODO: needs to be removed
    import-error                    # TODO: needs to be removed

max-line-length=120
